<%= form_with(model: Card.new, local: true) do |form| %>

  <div class="field field-name">
    <%= form.label "空でよろし" %>
    <%= form.text_field :name %>
  </div>

  <div class="field field-start_time">
    <%= form.label "日付じゃよ" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="actions field-stamp_button">
    <%= form.submit "スタンプを押す" %>
  </div>
<% end %>
