<%= month_calendar events: @cards do |date, cards| %>
  <%= date.day %>
  <%= render 'form', card: @card %>
  <% cards.each do |card| %>
    <%= button_to('やったよ！', card, {method: :delete, data: { confirm: '消す？' }, class: "done"}) %>
  <% end %>
<% end %>

<p class="emergency-exit">
  <%= link_to new_card_path do %>
    <span class="material-icons-outlined">directions_run</span><span class="material-icons-outlined">sensor_door</span>
  <% end %>
</p>
<p id="notice"><%= notice %></p>
