<p id="notice"><%= notice %></p>

<%= month_calendar events: @cards do |date, cards| %>
  <%= date.day %>
  <%= render 'form', card: @card %>
  <% cards.each do |card| %>
    <%= link_to('やったよ！', card, {method: :delete, data: { confirm: '消す？' }, class: "done"}) %>
  <% end %>
<% end %>

<%= link_to 'もしもの時のどこでもドア', new_card_path %>